body {
  background-color: gray;
}

// font
.D1 {
  font-size: 4rem;
  font-weight: 700;
}
.D2 {
  font-size: 3.5rem;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.75rem;
  font-weight: 500;
}
h5 {
  font-size: 1.5rem;
  font-weight: 500;
}
h6 {
  font-size: 1.25rem;
  font-weight: 500;
}
.S1 {
  font-size: 1.125rem;
  font-weight: 400;
}
.S2 {
  font-size: 1rem;
  font-weight: 300;
}
.B1,
P {
  font-size: 1rem;
  font-weight: 400;
}
.B2 {
  font-size: 0.875rem;
  font-weight: 300;
}
.C {
  font-size: 0.75rem;
  font-weight: 300;
}

//font--BTN
.btn__font1 {
  font-size: 0.875rem;
  font-weight: 400;
}
.btn__font2 {
  font-size: 0.75rem;
  font-weight: 400;
}
